<form>
    <div class="title">
        <h1>REMOVER CATEGORIA</h1>
    </div>
    <mat-form-field class="form">
        <mat-label>NOME</mat-label>
        <input matInput [(ngModel)]="categoria.nome" type="text" name="nome" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DESCRIÇÃO</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" mat-stroked-button class="mat-elevation-z2">REMOVER</button>
        <button (click)="cancel()" mat-stroked-button class="mat-elevation-z2 " color="warn">CANCELAR</button>
    </div>
</form>
