a {
  text-decoration: none;
  display: flex;
}
img {
  height: 2.5rem;
}
.flip {
  transform: scaleX(-1);
}

.header {
  justify-content: center;
  height: 10%;
  background-color: rgb(243, 199, 243);
}
a span {
  display: flex;
  align-items: center;
  flex-direction: row;
}

h1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: hsl(300, 12%, 20%);
}
