<form>
    <div class="title">
        <h1>ATUALIZAR LIVRO</h1>
    </div>
    <mat-form-field class="form">
        <mat-label>TÍTULO</mat-label>
        <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo"  required type="text" name="titulo" placeholder="ex. JAVA 8" maxlength="30">
        <mat-error *ngIf="titulo.invalid">{{ getMessage('titulo') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>NOME DO AUTOR</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor" [formControl]="nome_autor" required type="text" name="nome_autor" placeholder="ex. Deitel" maxlength="50">
        <mat-error *ngIf="nome_autor.invalid">{{ getMessage('nome_autor') }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>TEXTO</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" [formControl]="texto" required type="text" name="texto" placeholder="ex. Aprenda a os novos recursos do JAVA" maxlength="1000"></textarea>
        <mat-error *ngIf="texto.invalid">{{ getMessage('texto') }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" mat-stroked-button class="mat-elevation-z2">ATUALIZAR</button>
        <button (click)="cancel()" mat-stroked-button class="mat-elevation-z2 " color="warn">CANCELAR</button>
    </div>
</form>
