<form>
    <div class="title">
        <h1>APAGAR LIVRO</h1>
    </div>
    <mat-form-field class="form">
        <mat-label>TÍTULO</mat-label>
        <input matInput [(ngModel)]="livro.titulo" disabled type="text" name="titulo"  >

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>NOME DO AUTOR</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor"  disabled type="text" name="nome_autor" >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>TEXTO</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" disabled type="text" name="texto"  ></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" mat-stroked-button class="mat-elevation-z2">APAGAR</button>
        <button (click)="cancel()" mat-stroked-button class="mat-elevation-z2 " color="warn">CANCELAR</button>
    </div>
</form>
